<!-- Modal -->
<div class="modal fade" id="modalsess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">MLKP Global Installer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" id="modalX">&times;</span>
            </button>
        </div>
        <center>
            <div class="modal-body">
            </div>
        </center>
        <div class="modal-footer">
            <button type="button" id="modalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
