<div id="userinfo" style="right: 20px; top: 13px; position: absolute;">
    <label id="userlabel" style="color: white">WELCOME!&nbsp;&nbsp;<%= fullname %>&nbsp;&nbsp;</label>
    <span id="hdlogout" class="logoutbtneff"><i class="fa fa-power-off logoutalignicon"></i>&nbsp;&nbsp;Logout</span>
</div>
